*{
  margin: 0;
  padding: 0;  
  box-sizing: border-box;
}


.bg-img1{
   background-image: url("./images/bg-pattern-intro-desktop.svg");
   background-size:  contain, cover;
   background-position: 1000px 1000px;
   background-color: hsl(353, 100%, 62%);
   border-radius: 0 0 0 80px;    
}
.header{
    display: flex;
    padding-top: 40px;
}

.container{
    border: 0px solid hsl(353, 100%, 62%);
    color: hsl(0, 0%, 100%);
    padding: 20px;
}

.toggle-btn{
    position: absolute;
    right: 0%;
}

.toggle-btn span{
    display: block;
    background-color: hsl(0, 0%, 100%);;
    width: 30px;
    height: 5px;
    margin: 3px;
}

.modern {
    font-size: 2rem;
    line-height: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px 0px 20px 40px;
}

p{
    text-align: center;
    line-height: 20px;
    padding-bottom: 20px;
    font-size: 1rem;
}

.btns{
    display:flex;
    justify-content: center;
    padding: 20px;
    margin-bottom: 80px;
}

.btn1 {
    margin-right: 10px;
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 30px;
    color: hsl(353, 100%, 62%);
    background-color: hsl(0, 0%, 100%);
    padding: 10px 20px;
}

.btn2 {
    margin-right: 10px;
    border: 2px solid hsl(0, 0%, 100%);
    background-color: hsl(353, 100%, 62%);
    border-radius: 30px;
    color: hsl(0, 0%, 100%);
    padding: 10px 20px;
}

.content-title{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    color: hsl(228, 45%, 44%);
}

.editor-img img, .laptop-image img, .mobile img{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.editor-img, .laptop-image{
    padding: 1rem;
}
.second-content, .Robust, .free-open, .powerful{
    text-align: center;
    padding: 2rem;
}

.content-heading, .Robust-heading, .free-heading, .powerful-heading{
    color: hsl(228, 45%, 44%);
    font-size: 1.6rem;
    line-height: 35px;
    padding-bottom: 20px;
}

.content, .Robust-content, .free-content, .powerful-content{
    line-height: 40px;
    font-size: 1.2rem;
}

.Robust{
    padding-bottom: 100px;
}

.content-container{
    border: 1px solid hsl(237, 23%, 32%);
    border-radius: 0px 80px 0px 80px;
    background-color: hsl(237, 23%, 32%);
    margin-top: 90px;
}

.bg-img{
    background-image: url("./images/bg-pattern-circles.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.mobile{
    transform: translateY(-35%);  
}

.state{
    text-align: center;
    color: hsl(0, 0%, 100%);
}

.state-heading{
 font-size: 2rem;
 line-height: 40px;
 padding: 20px;
}

.state-content{
    font-size: 1.2rem;
    line-height: 40px;
    margin-bottom: 80px;
    padding: 1.5rem;
}

.laptop-image{
    margin-top: 60px;
}


.footer-container{
    border: 2px solid hsl(240, 10%, 16%);
    border-radius: 0px 90px 0px 0px;
    background-color: hsl(240, 10%, 16%);
}

.footer-logo{
    text-align: center;
    padding: 60px;
}

ul li{
    color: white;
    text-align: center;
}

ul .main{
    font-size: 1.5rem;
    padding-top: 20px;
    padding-bottom: 20px;
}

ul .main-1{
    font-size: 1rem;
    padding: 10px;
}